_backup
.DS_Store
.history
live.sh
live.*.sh
script_phirehose-local.sh
API_KEYS.php
API_KEYS*.php
SEARCH_TERM.php
README.md
phirehose-create-tweets-history2*.php
tweets.json
tweets-history.json
uptime-watch-restart.sh