_backup
.DS_Store
.history
.vscode
live.sh
live.*.sh
script_phirehose-local.sh
API_KEYS.php
API_KEYS*.php
SEARCH_TERM.php
README.md
tweets.json
tweets-history.json
uptime-watch-restart.sh
test
phirehose-create-tweets-history-config.php